body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
option,
select {
  margin: 0;
  font-family: "Anuphan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alert {
  font-family: "Anuphan", sans-serif;
}

.centered-about {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-ad {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  font-weight: bold;
  flex-direction: column;
}

.container-fluid {
  overflow: hidden;
}

.container-dash-sec {
  background-color: white;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.container-result {
  background-color: white;
  margin: 15px 70px 50px 70px;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 3px rgba(201, 201, 201, 0.47);
}

.text-white {
  color: white;
}

.text-green {
  color: #43dc80;
}

.text-deep-blue {
  color: #3287b5;
}

.text-blue {
  color: #10167b;
}

.text-light-blue {
  color: #4953f5;
}

.text-gray {
  color: #8d8d8d;
}

.text-b {
  color: #424242;
}

.center {
  display: flex;
  align-items: center;
}

.bg-green {
  background-color: #d1f7e56c;
}

.bg-white {
  background-color: #d1f7e56c;
}

.bg-blue {
  background-color: #b3d0fc38;
}

.bg-navbar {
  background-color: #ffffffea;
}

.bg-navbar-doc {
  background-color: #efefefea;
}

.bg-down {
  background-color: #040f25;
}

.widget {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.widget-right {
  background-color: white;
  margin: 10px 30px 10px 30px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.widget-patient {
  background-color: white;
  margin: 100px 30px 10px 0px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.div-wrapper {
  position: relative;
  height: 300px;
  width: 300px;
}

.div-wrapper img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  left: 0;
  bottom: 0;
}

.list-unstyled li a {
  text-decoration: none;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
